@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  transition: all .3s linear .2s;
}

body {
  background: var(--background, #f8fafb);
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Nunito", sans-serif;
}

.rbc-calendar {
  font-family: 'Nunito', sans-serif;
}